.popup {
  position: fixed;
  top:-100vh;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 33333333;

  .overlay {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    opacity: 0 ;
    transition: opacity .1s ease-in-out .2s;
  }
  .popup-content {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(1.15);
    opacity: 0;
    width: 95%;
    max-width: 350px;
    background: #ffffff;
    padding: 25px;
    border-radius: 20px;
    box-shadow:0 2px 2px 5px rgba(0,0,0,.05) ;
    transition: all .3s ease-in-out;

    .msg {
      border-radius: 20px;
      padding:10px;

      p {
        font:800 14px Tahoma;
        color:#ffffff;
      }
    }

    .msg.msg-success {
      border:2px solid #027011;
      background-color: rgba(16, 245, 46, .4);
    }

    .msg.msg-fail {
      border:2px solid #930303;
      background-color: rgb(255, 22, 22, .4);
    }

    h2 {
      margin: 10px 0;
      font:Tahoma 25px;
      color:#111111;
    }
  }

}

.popup.active {
  top:0;
  transition: top 0ms ease-in-out 0ms ;

  .overlay {
    opacity: 1;
    transition: all 300ms ease-in-out;
  }

  .popup-content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}